body{
margin: 0;
height: 100vh;
width: 100vw;
justify-items: center;
align-content: center;
background-color: black;
}

.container{
display: grid;
grid-template-columns: repeat(5, 100px);
grid-template-rows: repeat(6, 50px);
grid-gap: 1em;
background-color:white;
padding: 0.5em;
}

.item1{
    grid-column: 1/2;
    grid-row: 1/4;
}
.item2{
    grid-column: 2/3;
    grid-row: 1/4;
}
.item3{
    grid-column: 3/4;
    grid-row: 1/6;
}
.item4{
    grid-column: 4/6;
    grid-row: 1/3;
}
.item5{
    grid-column: 1/2;
    grid-row: 4/7;
}
.item6{
    grid-column: 2/3;
    grid-row: 4/6;
}
.item7{
    grid-column: 2/3;
    grid-row: 6/7;
}
.item8{
    grid-column: 3/5;
    grid-row: 6/7;
}
.item9{
    grid-column: 4/5;
    grid-row: 3/6;
}
.item10{
    grid-column: 5/6;
    grid-row: 3/7;
}

div{
    background-color: blue;
}