*{
    margin: 0;
}
body{background-image: radial-gradient(ellipse at 50% 50%, #445297 0%, #1c1b22 100%);}
.container{
    height:auto;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    grid-gap: 0.8em;
    padding: 1em;
    background-color: transparent;
}
div{
    background-size: 100% 100%;
    font-size: 5vh;
    border-radius: 10px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vh;
    text-align: center;
    text-shadow: #ff0080 1px 1px 1px;
}



.item1
.item2
.item3
.item4
.item5
.item6
.item7
.item8
.item9
.item10
.item11
.item12