*{
    text-shadow: 1px 1px #000000;
    color: white;
}
body{
    height: 100vh; width: 100vw;
    background-size: 100% 100%;
    background-repeat: none;
    background-image: url("https://i.ytimg.com/vi/_OEJ-15lPT8/hq720.jpg?sqp=-oaymwExCK4FEIIDSFryq4qpAyMIARUAAIhCGAHwAQH4Af4JgALQBYoCDAgAEAEYNyATKH8wDw==&rs=AOn4CLDxYilI2_YVhSpyrGuc5hzu0FIGgA")
}