*{margin: 0; text-align: center;}
body{background-image: radial-gradient(ellipse at 50% 50%, #445297 0%, #1c1b22 100%);}

.container{
    height:auto;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto);
    background-color: transparent;
    grid-gap: 1em;
}
div{
    background-size: 100% 100%;
    border-radius: 10px;
}

.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vh;
    text-align: center;
    text-shadow: #ff0000 1px 1px 1px;
}

.card{
    width: 19em;
    height: 19em;
}

.item2{
    grid-column: 2/3;
    grid-row: 1/5;
}
.item5{
    grid-column: 1/2;
    grid-row: 2/5;
}

.item8{
    grid-column: 3/4;
    grid-row: 3/6;
}