html,body{
    height: 110vh;
    background-image: url("https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chicken-kale-mushroom-pot-pie-1b0817a.jpg?quality=90&webp=true&resize=440,400");
}
*{
    margin: 0;
}
body{
    margin: 0;

}
h2{
    color: beige;
}
h3{
    color: rgb(25, 0, 255);
    height: 4%;
}
h4{
    color: beige;
}
.labas{
    color: rgb(255, 51, 0);
    background-color: rgb(191, 161, 161);
    margin: 0;
    height: 10%;
}
#labas{
    color: rgb(25, 0, 255);
    height: 10%;
}