*{
    margin: 0;
}
.window1{
    height: 100vh;
    width: 100vw;
    background-image: url("Pics/1 Window pic.png");
    background-size: 100% 100%;
}

/* =================== Window2 START =================== */
.pane1{
    height: 63.5vh;
    width: 72.1vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3.3%;


    position: absolute;
    left: 50%; top: 4.5%; translate: -50%;
    z-index: 1;
}


.pane1 * {
    z-index: 1;
    margin-right: 1%;
    grid-row: 1/2;
    background-color: transparent;
}
.g1-1{
    grid-column: 1/2;
    display: block;
}
.g1-2{
    grid-column: 2/3;
    display: block;
}
.g1-3{
    grid-column: 3/4;
    display: block;
}
.g1-3 a {
    display: block;
    height: 100%;
    width: 100%;
}
.g1-3 a:hover {
    cursor: url(Pics/HammerCursor.png) 20 30, auto;
}
.g1-4{
    grid-column: 4/5;
    display: block;
}

.backround-house{
    height: 80vh;
    width: 80vw;

    position: absolute;
    left: 50%; top: 40%; translate: -50% -50%;

    background-image: url("Pics/Break-Into-House.jpg");
    background-size: 100% 100%;
    z-index: -2;
}