.glass:hover{
    cursor: url(Pics/HammerCursor.png) 20 30, auto;
}

input[type="checkbox"]:checked + .glass{
    pointer-events: none;
    background-image: url(Pics/BrokenGlass.png);
    background-size: 100% 100%;
    backdrop-filter: blur(20px);
}

input[type="checkbox"]:active + .glass{
    cursor: url(Pics/HammerHitHAMMER.png);
}

body input[type="checkbox"]{
    display: none;
}