body{
margin: 0;
height: 100vh;
width: 100vw;
background-color: black;
justify-items: center;
}

.container{
height: 100%;
width: 85vw;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 0.5fr repeat(5, 1fr) 0.5fr ;
grid-gap: 0.3em;
background-color: blueviolet;
}

div{
    background-color: aquamarine;
}

.item1{
grid-column: 1/ 2;
grid-row: 1/ 2;
}
.item2{
grid-column: 1/3 ;
grid-row: 2/4 ;
}
.item3{
grid-column: 1/2 ;
grid-row: 4/5 ;
}
.item4{
grid-column: 1/2 ;
grid-row: 5/7 ;
}
.item5{
grid-column: 1/3 ;
grid-row: 7/8 ;
}
.item6{
grid-column: 2/3 ;
grid-row: 1/2 ;
}
.item7{
grid-column: 2/3 ;
grid-row: 4/7 ;
}
.item8{
grid-column: 3/5 ;
grid-row: 1/2 ;
}
.item9{
grid-column: 3/4 ;
grid-row: 2/5 ;
}
.item10{
grid-column: 3/4 ;
grid-row: 5/6 ;
}
.item11{
grid-column: 3/4 ;
grid-row: 6/8 ;
}
.item12{
grid-column: 4/5 ;
grid-row: 2/3 ;
}
.item13{
grid-column: 4/5 ;
grid-row: 3/4 ;
}
.item14{
grid-column: 4/6 ;
grid-row: 4/5 ;
}
.item15{
grid-column: 4/6 ;
grid-row: 5/7 ;
}
.item16{
grid-column: 4/5 ;
grid-row: 7/8 ;
}
.item17{
grid-column: 5/6 ;
grid-row: 1/4 ;
}
.item18{
grid-column: 5/6 ;
grid-row: 7/8 ;
}
.item19{
grid-column: 6/9 ;
grid-row: 1/2 ;
}
.item20{
grid-column: 6/9 ;
grid-row: 2/5 ;
}
.item21{
grid-column: 6/7 ;
grid-row: 5/6 ;
}
.item22{
grid-column: 6/8 ;
grid-row: 6/7 ;
}
.item23{
grid-column: 6/8 ;
grid-row: 7/8 ;
}
.item24{
grid-column: 7/11 ;
grid-row: 5/6 ;
}
.item25{
grid-column: 8/9 ;
grid-row: 6/7 ;
}
.item26{
grid-column: 8/9 ;
grid-row: 7/8 ;
}
.item27{
grid-column: 9/10 ;
grid-row: 1/2 ;
}
.item28{
grid-column: 9/11 ;
grid-row: 2/3 ;
}
.item29{
grid-column: 9/10 ;
grid-row: 3/5 ;
}
.item30{
grid-column: 9/11 ;
grid-row: 6/8 ;
}
.item31{
grid-column: 10/11 ;
grid-row: 1/2 ;
}
.item32{
grid-column: 10/12 ;
grid-row: 3/4 ;
}
.item33{
grid-column: 10/11 ;
grid-row: 4/5 ;
}
.item34{
grid-column: 11/13 ;
grid-row: 1/3 ;
}
.item35{
grid-column: 11/12 ;
grid-row: 4/8 ;
}
.item36{
grid-column: 12/13 ;
grid-row: 3/4 ;
}
.item37{
grid-column: 12/13 ;
grid-row: 4/5 ;
}
.item38{
grid-column: 12/13 ;
grid-row: 5/6 ;
}
.item39{
grid-column: 12/13 ;
grid-row: 6/7 ;
}
.item40{
grid-column: 12/13 ;
grid-row: 7/8 ;
}