body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    justify-items: center;
}

.container{
    height: 96%;
    width: 25%;
    display: grid;
    grid-template-columns: 1.1fr repeat(2, 1fr) 1.7fr repeat(2, 1fr) 0.7fr;
    grid-template-rows: 6fr repeat(2, 3fr) repeat(2, 2fr) 1fr 5fr;
    grid-gap: 0.5em;
    padding: 0.8em;
    background-color: black;
}

div{
    background-color: white;
}

.item1{
    grid-column: 1/3 ;
    grid-row: 1/2 ;
}
.item2{
    grid-column: 1/2 ;
    grid-row: 2/3 ;
}
.item3{
    grid-column: 1/2 ;
    grid-row: 3/5 ;
}
.item4{
    grid-column: 1/2 ;
    grid-row: 5/8 ;
}
.item5{
    grid-column: 2/5 ;
    grid-row: 2/4 ;
}
.item6{
    grid-column: 2/4 ;
    grid-row: 4/6 ;
}
.item7{
    grid-column: 2/4 ;
    grid-row: 6/8 ;
}
.item8{
    grid-column: 3/5 ;
    grid-row: 1/2 ;
}
.item9{
    grid-column: 4/5 ;
    grid-row: 4/5 ;
}
.item10{
    grid-column: 4/5 ;
    grid-row: 5/6 ;
}
.item11{
    grid-column: 4/5 ;
    grid-row: 6/7 ;
}
.item12{
    grid-column: 4/7 ;
    grid-row: 7/8 ;
}
.item13{
    grid-column: 5/7 ;
    grid-row: 1/2 ;
}
.item14{
    grid-column: 5/7 ;
    grid-row: 2/3 ;
}
.item15{
    grid-column: 5/6 ;
    grid-row: 3/4 ;
}
.item16{
    grid-column: 5/7 ;
    grid-row: 4/5 ;
}
.item17{
    grid-column: 5/7 ;
    grid-row: 5/7 ;
}
.item18{
    grid-column: 6/7 ;
    grid-row: 3/4 ;
}
.item19{
    grid-column: 7/8 ;
    grid-row: 1/2 ;
}
.item20{
    grid-column: 7/8 ;
    grid-row: 2/5 ;
}
.item21{
    grid-column: 7/8 ;
    grid-row: 5/8 ;
}