*{
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url("Pics/2 Window pic.png");
    background-size: 100% 100%;
}

/* =================== Window2 START =================== */
.window2{
    height: 89.5vh;
    width: 54.7vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 12%;
    grid-row-gap: 4.5%;
    grid-template-rows: repeat(2, 1fr);
    background-color: transparent;

    position: absolute;

    left: 50%; top: 50%; translate: -50% -50%;
    z-index: 1;
}
.window2 > div{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 3%;                 
}


.pane2-1 * {
    display: block;
    margin-top: 6%;
}
.pane2-2 * {
    display: block;
    margin-top: 6%;
}
.pane2-3 * {
    display: block;
}
.pane2-4 * {
    display: block;
}
/* =================== pane1 START =================== */


.pane2-1{
    grid-column:1/2;
    grid-row:1/2;
}
.g2-1-1{
    grid-column: 1/2;
    grid-row: 1/2;          
}
.g2-1-2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.g2-1-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.g2-1-4{
    grid-column: 2/3;
    grid-row: 2/3;
}

/* =================== pane1 END =================== */
/* =================== pane2 START =================== */


.pane2-2{
    grid-column:2/3;
    grid-row:1/2;
}
.g2-2-1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.g2-2-2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.g2-2-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.g2-2-4{
    grid-column: 2/3;
    grid-row: 2/3;
}

/* =================== pane2 END =================== */



/* =================== pane3 START =================== */

.pane2-3{
    grid-column:1/2;
    grid-row:2/3;
    margin-left: 1.5%;
    margin-right: 1%;
}
.g2-3-1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.g2-3-2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.g2-3-2 a {
    display: block;
    height: 100%;
    width: 100%;
}
.g2-3-2 a:hover {
    cursor: url(Pics/HammerCursor.png) 20 30, auto;
}
.g2-3-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.g2-3-4{
    grid-column: 2/3;
    grid-row: 2/3;
}

/* =================== pane3 END =================== */



/* =================== pane4 START =================== */

.pane2-4{
    grid-column:2/3;
    grid-row:2/3;
}
.g2-4-1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.g2-4-2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.g2-4-3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.g2-4-4{
    grid-column: 2/3;
    grid-row: 2/3;
}
/* =================== pane4 END =================== */

/* =================== window2 END =================== */


.buttonplace{
    height: 30vh;
    width: 30vh;
    top: 50%;
    left: 90%;
    translate: -50% -50%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border: 5px solid black;
    z-index: 1;
}
.buttonplace * {
    position: absolute;
    height: 5vh;
    width: 30vh;

    background-size: 100% 100%;
}
.button{
    height: 4vh;
    width: 4vh;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(ToBeUsed/BUTTON.png);
}
.board1, .board2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background-image: url(Pics/WOOD.png);
}
.board1{
    transform: translate(-50%, -50%) rotate(45deg);
}
.board2{
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* "slight tweaks and fixes" if you care SOOOOOO much about it*/

.g2-1-2, .g2-1-4, .g2-3-2, .g2-3-4{
    margin-left: 2%;
}
.g2-2-1, .g2-2-3, .g2-4-1, .g2-4-3{
    margin-right: 3%;
}
.g2-3-1, .g2-3-2, .g2-4-1, .g2-4-2{
    margin-bottom: 7%
}