*{
    margin: 0;
    font-family: Helvetica, sans-serif;
    text-shadow: 1px 1px #3a373f;
}
section{
    height: 60vh;
    width: 100%;
}
.s1{
background-image: linear-gradient(155deg, #ff0000 0%, #ff5dff 50%, #0000ff 100%);
}
.s1 .box{
clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
background-image: url(photos/Map.webp);
background-size: 100% 100%;
height: 100%;
display:flex;
flex-wrap: wrap;
align-content: flex-start;
}
.s2{
    background-image: linear-gradient(25deg, #ff0000 0%, #ff5dff 50%, #0000ff 100%);
}
.s2 .box{
clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
background-image: url(photos/Chaos.png);
background-size: 100% 100%;
height: 100%;
display:flex;
flex-wrap: wrap;
align-content: flex-start;
}
.s3{
background-image: linear-gradient(155deg, #ff0000 0%, #ff5dff 50%, #0000ff 100%);
}
.s3 .box{
clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
background-image: url(photos/Result.png);
background-size: 100% 100%;
height: 100%;
display:flex;
flex-wrap: wrap;
}
.s4{
background-image: linear-gradient(25deg, #ff0000 0%, #ff5dff 50%, #0000ff 100%);
}
.s4 .box{
clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
background-image: url(photos/Aftermath.png);
background-size: 100% 100%;
height: 100%;
display:flex;
flex-wrap: wrap;
}
p{
    color:rgb(215, 69, 69);
    height: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin: 3%;
    display: flex;
}
.p1{
    transform: rotate(-5deg);
}
.p2{
    transform: rotate(5deg);
}
Titles{
    color:rgb(215, 69, 69);
    width: 100%;
    margin-top: 5%;
    height: 6vh;
    font-size: 2em;
    display: flex;
    justify-content: center
}
.hed2{
    transform: rotate(-5deg);
}
.hed1{
    transform: rotate(5deg);
}
.name{
    width: 100%;
    margin: 1%;
    color: rgb(215, 69, 69);
    font-size: 3em;
    display: flex;
    justify-content: center;
}