*{
    margin: 0;
    scroll-behavior: none;
    user-select: none;
}
#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}#animation {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 19s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 100px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}